@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* --clr-bg:120 100% 3%; green */
  --clr-bg: 120 100% 0%;
  --clr-accent: 0 94% 28%;
  --clr-accent-2: 0 77% 38%;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1 {
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Libre Baskerville", "sans-serif" !important;
}

h2 {
  font-weight: 700;
  font-size: clamp(48px, 8vw, 64px);
  margin-bottom: 2rem;
  line-height: 1;
}

p {
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
  font-size: 18px;
  opacity: 0.8;
  line-height: 1.9;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

button {
  font-family: "Montserrat", "sans-serif";
  text-transform: uppercase;
  font-weight: 700;
}

button:focus,
button:focus-visible {
  outline: none;
}

.btn-sharp {
  background-color: hsl(var(--clr-accent));
  border-radius: 0;
  font-size: 14px;
  font-weight: 700;
  color: white;
  padding: 0.5rem 1rem;
  width: min-content;
}

.btn-sharp:hover {
  color: white;
  background-color: hsl(var(--clr-accent-2));
}

body {
  color: white;
  background-color: hsl(var(--clr-bg));
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr; 
  overflow-x: hidden!important;
}



img,
picture {
  max-width: 100%;
  display: block;
}

input,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.btn-icon {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: white;
}

.btn-icon:hover {
  color: lightgray;
}

/* ------------------- */
/* Grid -------------  */
/* ------------------- */

:root {
  --padding: 1rem;
  --container-width: 1320px;
  --container-width-xl: 1140px;
  --container-width-lg: 960px;
  --container-width-md: 720px;
  --container-width-sm: 540px;
  --nav-padding: 4rem;
}

@media screen and (max-width: 1400px) {
  :root {
    --container-width: var(--container-width-xl);
    --nav-padding: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --container-width: var(--container-width-lg);
    --nav-padding: 2rem;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --container-width: var(--container-width-md);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --nav-padding: 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: var(--nav-padding) 1fr var(--nav-padding);
  width: 100vw;
}

.full-width,
.left,
.right,
.nav-container {
  grid-column: 2/3;
}

.full-bleed,
.bleed-left,
.bleed-right,
.full-bleed-sm {
  grid-column: 1/4;
}

/* //breakpoint to multiple-columns */

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr repeat(2, calc(var(--container-width) / 2)) 1fr;
  }
  .full-width {
    grid-column: 2/4;
  }
  .left {
    grid-column: 2/3;
  }

  .right {
    grid-column: 3/4;
  }

  .full-bleed {
    grid-column: 1/5;
  }

  .bleed-left {
    grid-column: 1/3;
  }

  .bleed-right {
    grid-column: 3/5;
  }

  .nav-container {
    grid-column: 1/5;
    padding-inline: var(--nav-padding);
  }
}
